* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  height: auto;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #002940;
}
.header-nav ul {
  display: none;
}
.hero-section {
}
.overlay {
  background-color: rgba(51, 51, 51, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.header-nav button {
  background-color: #cf2e2e;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}
.header-nav button:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: #f14d4d;
}
h1 {
  font-size: 2rem;
  text-align: center;
}

.hero-vision {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 2rem auto;
  background-color: rgba(0, 41, 64);
  height: 100%;
  border-radius: 1.4rem;
  border-left: 0.5rem solid #31708e;
  border-right: 0.5rem solid #31708e;
}
.hero-vision p {
  text-align: center;
  font-size: 0.9rem;
  padding: 0 1rem;
}
.hero-vision button {
  background-color: #cf2e2e;
  color: #fff;
  padding: 0.75rem 5rem;
  font-size: 1.5rem;
  margin: 1rem 0;
  border-radius: 3px;
}
.logo {
  background: none;
  height: 4rem;
  width: 4rem;
}
.header-container a {
  color: #fff;
  font-size: 1.2rem;
  padding: 0 0.2rem;
  text-decoration: none;
}
.hero-section img {
  width: 100%;
  height: auto;
}
.nav-bar {
  height: 5vh;
}
.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  left: -250px; /* Hide off-screen */
  height: 100%;
  background-color: #333;
  flex-direction: column;
  z-index: 1000;

  width: 250px;
  transition: left 0.3s ease-in-out;
}

.nav-bar.close ul {
  left: 0;
  transition: 0.7s all ease-in-out;
}
.nav-bar ul li {
  padding: 0.3rem 0;
  list-style: none;
}
.nav-bar ul li a {
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
  letter-spacing: 1px;
}
.nav-bar ul li a:hover {
  background-color: #cf2e2e;
  cursor: pointer;
  transition: 0.2s all;
}
.nav-bar ul li a.active {
  background-color: #cf2e2e;
}
#menu {
  background: none;
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  margin: 0.4rem 0 0 0;
  padding: 0.3rem 0.6rem;
}
#menu:hover {
  transform: scale(1.2);
}
#menu::before {
  content: "\2630";
  color: #000;
}

.weather {
  display: grid;
  /* font-size: 3rem; */
  background-color: #31708e;
  color: #fff;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  max-width: 80%;
  margin-top: 3rem;
}

.weather-today {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.weather-underline {
  border-right: 3px dotted white;
  height: 80%;
}
.weather-future {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.5rem;
  padding: 1.5rem 0;
  grid-gap: 1.5rem;
}
.weather-future p {
  font-size: 1.1rem;
  padding: 0.25rem 0;
}
.weather-future h4 {
  font-size: 1.4rem;
}
.weather-future h5 {
  font-size: 1rem;
}
.today-date h3 {
  font-size: 2rem;
}
.today-date h4 {
  font-size: 1.25rem;
}
.today-temp p {
  font-size: 0.95rem;
}
.current-temp {
  font-size: 2rem;
}

footer {
  background-color: #002940;
}
footer ul {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

footer ul li {
  padding: 0 1rem;
}
footer ul li a img {
  height: 1.5rem;
  width: 1.5rem;
}
footer p {
  color: #d4d1d1;
  font-size: 1.3rem;
  text-align: center;
  border-top: 1px solid #5a5959;
  padding: 1rem 0;
}
.footer-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 2rem;
  place-items: center;
  padding: 1rem 0;
}
footer div a {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.3rem 0;
  text-decoration: none;
}

.weather-source {
  color: #d4d1d1;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}
.weather-source a {
  color: #fff;
  padding: 2px;
}

.weather-source a:hover {
  text-decoration: none;
}

/* Discover page  */

.top {
  text-align: center;
  background-color: #d9e8f1;
  width: 80%;
  margin: 0.5rem auto;
  padding: 2rem 0;
}
.top h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #002940;
}
.top p {
  font-size: 1.2rem;
}
.top h5 {
  font-size: 1.5rem;
  color: #002940;
  padding: 1.2rem 0 0 0;
}
.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #2c7da0;
  height: 30%;
  gap: 1.5rem;
  width: 90%;
  margin: 2rem auto;
}

.event h3 {
  color: #012a4a;
  font-size: 2.5rem;
  padding: 0.75rem 0;
}

.event h4 {
  color: #f5efef;
  font-size: 1.5rem;
  padding: 0.75rem 0;
  letter-spacing: 3px;
}
.event p {
  color: #fff;
  font-size: 1.5rem;
}

.event button {
  padding: 1rem 2rem;
  margin: 1rem;
  font-size: 1.5rem;
  background-color: #cf2e2e;
  color: #fff;
}
.event span {
  color: #012a4a;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 2px;
  border-top: 1px solid #333;
  padding-top: 1rem;
}
.event h5 {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 2.5px;
}
.event h5:last-child {
  padding-bottom: 1rem;
}
.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #2c7da0;
  height: 30%;
  gap: 1.5rem;
  width: 90%;
  margin: 2rem auto;
}

.news h4 {
  font-size: 2rem;
  color: white;
}

.news ul {
  text-align: start;
  width: 85%;
}

.news ul li {
  list-style: circle;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem 0;
}
.restuarant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #2c7da0;
  height: 30%;
  gap: 1.5rem;
  width: 90%;
  margin: 2rem auto;
}
.restuarant h3 {
  color: #012a4a;
  font-size: 2rem;
  letter-spacing: 2px;
}
.restuarant h4 {
  font-size: 1.5rem;
  color: rgb(232, 232, 232);
  padding: 1rem 0;
}
.restuarant p {
  font-size: 1.5rem;
}
.restuarant div {
  border-bottom: 1px solid #333;
  padding: 1rem;
}
.display-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(16, 9, 4, 0.9);
  height: 7%;
  gap: 1.5rem;
  width: 90%;
  margin: 2rem auto;
}
.display-time h5 {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 1.5px;
}
.display-time h6 {
  color: #fff;
  font-size: 1rem;
}
.display-time p {
  font-style: italic;
  color: #fff;
  font-size: 1.3rem;
}
form {
  background-color: #f9f9f9;
  color: #333;
  padding: 1.5rem;
  border-radius: 0.5rem;
  min-width: 80%;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="range"],
select,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}

button,
input[type="submit"] {
  background-color: #f14d4d;
  color: #fff;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.15rem;
}

button:hover,
input[type="submit"]:hover {
  background-color: #0056b3;
}

.form-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.membership-benefits {
  flex: 1;
  margin: 1.5rem auto;
  background-color: #f1f1f1;
  padding: 1.5rem;
  border-radius: 0.5rem;
  max-width: 60%;
}

.membership-benefits h2 {
  margin-top: 0;
  color: #0056b3;
  font-size: 2rem;
}

.membership-benefits h2 {
  text-align: center;
  padding: 1.5rem 0 0 0;
}
.membership-benefits p {
  font-size: 1.4rem;
  padding: 3.5rem 0;
  border-bottom: 1px solid #888;
}
.thankyou {
  text-align: center;
  font-size: 2rem;
}
