* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.3%;
  font-family: "Roboto", sans-serif;
}
/* body > footer {
  position: fixed;
  bottom: 0;
  width: 100%;
} */
main {
  height: 100%;
}

.active {
  color: rgb(233, 233, 70);
}
.parent {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 1rem;
}
.card {
  border: 1px solid #848383;
  margin: 0 1rem;
  height: 100%;
}
.card ul li {
  list-style: none;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.card ul li a {
  font-size: 1.3rem;
}
.card p {
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}
.parent .card h2 {
  background-color: #1f2839;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.5rem;
  text-align: center;
  letter-spacing: 1px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  padding: 1.1rem 0 0.9rem 0;
  margin-top: 0;
}

header {
  background: linear-gradient(to right, #eb6e4b, #1f2839);
  display: flex;
  justify-content: center;
}

header span {
  font-size: 2rem;
  color: #fff;
  align-self: center;
  margin-right: 1.5rem;
}
header img {
  padding: 1rem;
  height: 9rem;
  width: auto;
}
.hero-section {
  position: relative;
}
.hero-section img {
  width: 100%;
  height: auto;
  display: block;
}
.hero-section span {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 40%;
  background-color: rgb(51, 51, 51, 0.6);
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}
footer {
  background: linear-gradient(to right, #1f2839, #eb6e4b);
  color: #fff;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}
nav ul {
  background-color: rgb(0, 0, 0);
  text-align: center;
}
nav ul li {
  list-style: none;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem;
}
nav ul {
  display: none;
}

nav ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
  letter-spacing: 2px;
}
nav.open ul {
  display: block;
  transition: 0.2s all ease-in-out;
  z-index: 100;
}
.map {
  width: 100%;
  margin-top: 2rem;
}
iframe {
  width: 100%;
  padding: 1rem;
}
#ham-button {
  background: none;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 4rem;
  right: 1rem;
}
#ham-button::before {
  content: "\2630";
}
#ham-button.open::before {
  content: "\2613";
}
#mode {
  background: none;
  font-size: 1.2rem;
  position: absolute;
  right: 0.5rem;
  top: 0.8rem;
  cursor: pointer;
}
